@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

#awesome {
    padding: 95px 0
}

.heading {
    margin: 0 auto 70px;
}

.heading__main-text {
    width: 410px;
    margin: 0 auto 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.heading__bottom-line {
    width: 65px;
    border-bottom: 2px solid #E72424;
    margin: 0 auto 35px;
}

.heading__description {
    width: 365px;
    margin: auto;
}

.heading__description p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

.card__wrap {
    display: flex;
    justify-content: space-between;
}

.card-item {
    width: 350px;
}

.card-item__img {
    width: 70px;
    height: 70px;
    margin: 0 auto 30px;
    border: 1px solid #E72424;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item__title {
    margin: 0 auto 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.card-item__text {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}