@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

#pricing {
    padding: 80px 0 60px;
    background-color: #F5F5F5;
}

.headline {
    margin: 0 auto 60px;
}

.headline__title {
    width: 410px;
    margin: 0 auto 35px;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.headline__line {
    width: 65px;
    border-bottom: 2px solid #E72424;
    margin: 0 auto 35px;
}

.headline__desc {
    width: 365px;
    margin: auto;
}

.headline__desc p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

.price-cards__wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.price-plan-benefits-list {
    width: 340px;
    margin: 0 15px;
}

.price-plan-benefits-list__item_order_1 {
    background-color: #333333;
    line-height: 50px;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.price-plan-benefits-list__item_order_2 {
    background-color: #333333;
    line-height: 100px;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.price-plan-benefits-list__item_order_3 {
    background-color: #333333;
    line-height: 50px;
    margin-bottom: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    
}

.price-plan-benefits-list__item_order_4 {
    background-color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
}

.price-plan-benefits-list__item_order_5 {
    background-color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
}

.price-plan-benefits-list__item_order_6 {
    background-color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
}

.price-plan-benefits-list__item_order_7 {
    background-color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
}

.price-plan-benefits-list__item_order_8 {
    background-color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
}

.price-plan-benefits-list__item_order_9 {
    background-color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
}
